# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. Estes não devem ir para o repositório.
*.tfvars
*.tfvars.json

# O arquivo example pode subir, então vamos garantir que não seja ignorado
!*.tfvars.example

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignorar o arquivo de configuração de undeploy (contém tokens e chat_ids sensíveis do telegram)
undeploy_vm/undeploy.conf

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
